@* バンドルを使用する場合は、このセクションを削除します *@
@section Scripts {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}

@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "パスワードを忘れた場合";

    bool passwordSent = false;
    var resetToken = "";
    var email = Request.Form["email"] ?? Request.QueryString["email"];

    // セットアップの検証
    Validation.RequireField("email", "電子メール アドレス フィールドは必須です。");

    if (IsPost) {
        AntiForgery.Validate();
        // 電子メールの検証
        bool isValid = true;
        if (Validation.IsValid()) {
            if (WebSecurity.GetUserId(email) > -1 && WebSecurity.IsConfirmed(email)) {
                resetToken = WebSecurity.GeneratePasswordResetToken(email); // オプションとして、トークンの有効期限を指定
            } else {
                passwordSent = true; // ユーザーが存在しないことを開示しません。
                isValid = false;
            }
        }
        if (isValid) {
            var hostUrl = Request.Url.GetComponents(UriComponents.SchemeAndServer, UriFormat.Unescaped);
            var resetUrl = hostUrl + VirtualPathUtility.ToAbsolute("~/Account/PasswordReset?resetToken=" + HttpUtility.UrlEncode(resetToken));
            WebMail.Send(
                to: email,
                subject: "パスワードをリセットしてください", 
                body: "このパスワード リセット トークンを使用してパスワードをリセットしてください。パスワードをリセットするトークンは " + resetToken + @" です。パスワードをリセットするには、<a href=""" + HttpUtility.HtmlAttributeEncode(resetUrl) + @""">" + resetUrl + "</a> を参照してください。"
            );
            passwordSent = true;
        }
    }
}

<hgroup class="title">
    <h1>@Page.Title.</h1>
    <h2>パスワードをリセットするには、次のフォームを使用します。</h2>
</hgroup>

@if (!WebMail.SmtpServer.IsEmpty()) {
    <p>
        アカウントに関連付けられた電子メール アドレス宛てに、パスワードをリセットする手順をお知らせします。
    </p>

    if (passwordSent) {
        <p class="message-success">
            指定された電子メール アドレスに、パスワードをリセットする手順を送信しました。
        </p>
    }

    <form method="post">
        @AntiForgery.GetHtml()
        @Html.ValidationSummary(excludeFieldErrors: true)

        <fieldset>
            <legend>パスワードのリセット手順フォーム</legend>
            <ol>
                <li class="email">
                    <label for="email" @if (!ModelState.IsValidField("email")) {<text>class="error-label"</text>}>電子メール アドレス</label>
                    <input type="text" id="email" name="email" value="@email" disabled="@passwordSent" @Validation.For("email") />
                    @Html.ValidationMessage("email")
                </li>
            </ol>
            <p class="form-actions">
                <input type="submit" value="手順の送信" disabled="@passwordSent" />
            </p>
        </fieldset>
    </form>
} else {
   <p class="message-info">
       SMTP サーバーが正しく構成されていないため、このサイトではパスワードの回復が
       無効になっています。このサイトの所有者に連絡して、パスワードを
       リセットしてください。
   </p>
}